/*Nosotros*/
.nosotros-img{
    width: 550px;
    padding: 30px;
    display: block;
}
.nosotros{
border-radius: 8px;
border: solid 2px;
margin: 5px;
}
.nosotrostit{
margin: 10px;
text-align: center;

}
.nosotrosdec{
    margin: 10px;
    text-align: center;
}

